body{
    text-align:center;
      background: #48cae4;
  }
  nav{
    position: absolute ;
    top: 100px;
    right: 20px;
  }
  nav a{
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    color: black;
  }
  nav a:hover{
    font-weight: bold;
    font-size: 22px;
    color: black;
    transition: 0.5s;
  }
  .logo{
   width: 15%;
   
  }
  h3{
    text-align: left;
  }
  .capa{
  
    width: 100%;
  }
  .beneficios{
    text-align: left;
    background-color: rgb(rgb(14, 219, 238), green, blue);
    display: inline-block;
    
  }
  ul{
   display: inline-block;
   vertical-align: top;
   font-size: 26px;
   margin-right: 100px;
   
  }
  li{
    padding: 25px;
  }
  .foto{
    width: 40%;
  }

  